.navbar {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: Arial, sans-serif;
    font-size: 18px;
    box-shadow: 0px 4px 6px white;
}

.navbar-title {
    margin: 0;
    font-weight: bold;
    color:aliceblue;
}
